{% extends 'admin_base.html' %}

{% block content %}

        <!-- <table>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Teacher Name</th>
                    <th>Class & Section</th>
                    <th>Subjects</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                {% for i in asc %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.teacherid.first_name }} {{ i.teacherid.last_name }}</td>

               
                    <td>
                        {% for class in i.teacherid.assigned_classes1.all %}
                            {{ class.name }}
                        {% endfor %}
                        -
                        {% for section in i.teacherid.assigned_sections1.all %}
                            {{ section.name }}
                        {% endfor %}
                    </td>

                
                    <td>
                        <div class="subject-list">
                            {% for subject in i.teacherid.assigned_subjects1.all %}
                                <span>{{ subject.name }}</span>
                            {% empty %}
                                <span>No subjects assigned</span>
                            {% endfor %}
                        </div>
                    </td>

                    <td>{{ i.username }}</td>
                    <td>{{ i.password }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" style="text-align: center; color: red;">No teacher credentials found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> -->

        
<div class="content-wrapper">
	  <div class="container-full">
	
		<div class="content-header">
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
      
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Teacher's Credentials</strong>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Teacher Name</th>
                                        <th>Class & Section</th>
                                        <th>Subjects</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in asc %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ i.teacherid.first_name }} {{ i.teacherid.last_name }}</td>
                    
                                   
                                        <td>
                                            {% for class in i.teacherid.assigned_classes1.all %}
                                                {{ class.name }}
                                            {% endfor %}
                                            -
                                            {% for section in i.teacherid.assigned_sections1.all %}
                                                {{ section.name }}
                                            {% endfor %}
                                        </td>
                    
                                    
                                        <td>
                                            <div class="subject-list">
                                                {% for subject in i.teacherid.assigned_subjects1.all %}
                                                    <span>{{ subject.name }}</span>
                                                {% empty %}
                                                    <span>No subjects assigned</span>
                                                {% endfor %}
                                            </div>
                                        </td>
                    
                                        <td>{{ i.username }}</td>
                                        <td>{{ i.password }}</td>
                                    </tr>
                                  
                                    {% endfor %}
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
      
      
            </div>
        </div>
      </div>
      </div>
      </div>
      </div>
    
{% endblock %}
