
<div class="card p-4 mb-4 mx-auto" style="max-width: 900px;">
    <h4 class="section-title">🚌 FEE Details</h4>
    <div class="row">
        <div class="col-md-3"><div class="detail-item"><strong>Total Amount:</strong> {{ o.original_amount }}</div></div>
        <div class="col-md-3"><div class="detail-item"><strong>Term 1:</strong> {{ o.part1 }}</div></div>
        <div class="col-md-3"><div class="detail-item"><strong>Term 2: </strong> {{ o.part2 }}</div></div>
        <div class="col-md-3"><div class="detail-item"><strong>Term3:</strong> {{ o.part3 }}</div></div>

    </div>
</div>
